.inner-exhibition-paintings-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.exhibition-controls{
  position: absolute;
  top: 1%;
  left: 90%;
  z-index: 4000;
  margin-right: 2rem;
  font-weight: 500;
}

@media screen and (max-device-width: 576px) {
  .inner-exhibition-paintings-container {
    flex-direction: column;
  }
}
