  
 .login-main-section{
  height: 100vh;
  background: url('/images/home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
 
 }

 .login-main-section nav{
  display: flex;
  justify-content: space-between;
 }
 .login-form-group *{
  width: 100%;
  
 }
 .login-form-group{
  margin-block: 1em;
 }
 .login-form-group label{
  color: white;
 }

 .login-form-group input{
  height: 3.2rem;
  font-size: var(--font-size-md);
 }

 .login-form-group button{
  height: 4rem !important;
  font-size: var(--font-size-md);
 }
  .login-form-inputs-container {
    display: flex;
    margin-bottom: 1em;
  }
 
  
 
  
  .login-form-inner-container{
 
    width: min(500px, 100%);
    height: max(800px, 100vh);
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.619);
  }
  .login-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  
  
  
  
  
  
  
  
  
  
  
  
  
   
  @media screen and (max-device-width: 676px) {
    .form-inner-container{
      flex-direction: column;
      padding: 1em;
      gap: 1em;
    }
    
    .form-inputs-container {
      display: flex;
      flex-direction: column;
      justify-content: left;
      padding-left: 1rem;
      padding-right: 1rem;
    }
   
   
    
  }
  