.exhibition-menu-container button {
  border-color: #334455;
  font-size: 1.2rem;
  font-weight: 650;
  color: #334455;
  margin: 0.1rem;
}
.exhibition-menu-container {
  display: flex;
}
.exhibition-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#exhibitions {
  font-size: var(--font-size-xlg);
  color:var(--primary-font-color);
  font-weight: var(--font-weight-strong);
}
