.gallery-card-link{
  max-width: 100%;
  position: relative;
  bottom: 10%;
  display: none;
}
.gallery-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.gallery-card:hover{
  .gallery-card-link{
     
    display: block;
  }

}


 