.about-info{
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
}
.about-info img{
    width: min(650px, 70vw);
    border-radius: 20px;
}
.about-header{
    font-size: var(--font-size-xlg);
    font-weight: 900;
    color: var(--primary-site-color);
}
@media (max-width: 768px) {
    .about-info{
        
        grid-template-columns: 100%;
    }
}
