.exhibition-painting-show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0%;
  z-index: 2;

  background-color: rgba(29, 29, 28, 0.9);
  overflow-y: scroll;
  width: 100%;
  height: auto;
}
.exhibition-painting-img .x-image img {
  width: 500px;
}

.painting-show img{
  pointer-events: none
}

@media screen and (max-device-width: 576px) {
  .exhibition-painting-img {
    width: auto;
  }
}
