.exhibition-painting-show-container {
  display: flex;
  /* font-family: roboto; */
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1em;
}
/* .painting-container {
  display: flex;
  justify-content: center;
  background-color: #152331;
  color: white;
} */

.painting-container {
  position: absolute;
  top: 0.2rem;
  right: 27%;
  z-index: 1;
  margin-bottom: 1rem;
}
@media screen and (max-device-width: 576px) {
  .painting-container {
    margin: 1em;
    right: auto;
  }
  .painting-container {
    flex-direction: column;
  }
}
