 .profile-bottom-nav-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-background-color);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.profile-bottom-nav-container.hidden {
  transform: translateY(100%);
}

.profile-bottom-nav-container.visible {
  transform: translateY(0);
}

.home-area, .add-area, .contact-area {
   
  text-align: center;
}

.profile-bottom-nav-container button {
  text-decoration: none;
   
}

 
