.multi-step-progressbar-container{
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;
    color: white;
}
.circle-content{
    display: flex;
    align-items: center;
    width: 100%;
}
.circle-description{
    width: 15%;
}
.progress-circle-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.active-element{
    background-color: rgb(85, 124, 85);
}
.progress-circle{
    height: 3rem;
    width: 3rem;
    border-radius: 1.5rem;
    border: 2px solid rgb(19, 18, 18);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
 
 
.progress-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.line-indicator{
    width: 40%;
    margin: 0 1px 0 1px;
    height: 2px;
    border-radius: 2px;
    padding: 1px;
}