.checkout-form-container{
    position:absolute;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    z-index: 300;
    width: 100%;
    height: 120vh;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgba(10, 2, 9, .5);
}
.phone-form-control{
    width: 1px;
}
.react-tel-input{
    max-width: min-content;
}
