  
 .payment-main-section{
    height: 100vh;
    background: url('/images/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: scroll;
   
   }
  
   
   .payment-form-group *{
    width: 100%;
    
   }
   .payment-form-group{
    margin-block: 0.6em;
   }
   .payment-form-group label, .payment-form-container p{
    color: white;
   }
  
   .payment-form-group input{
    height: 2.5rem;
    font-size: var(--font-size-sm);
   }
  
   .payment-form-group button{
    height: 2.5rem !important;
    font-size: var(--font-size-sm);
   }
    .payment-form-inputs-container {
      display: flex;
      margin-bottom: 1em;
    }
   
    
   
    
    .payment-form-inner-container{
   
      width: min(500px, 100%);
      height: max(800px, 100vh);
      padding: 2rem;
      background-color: rgba(0, 0, 0, 0.619);
    }
    .payment-form-container{
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
  
    }
    
    
    
    
     
    @media screen and (max-device-width: 676px) {
       
      
      .form-inputs-container {
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding-left: 1rem;
        padding-right: 1rem;
      }
     
     
      
    }
    


 
 
 

 
