.moto-container{
    background-color: rgb(2, 11, 20);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 1em;
    padding: 2rem;
}
.moto-container .inspire{
    color: #ed9b1f;
    font-size: 1.3rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.moto-container .links{
    display: flex;
    justify-content: space-between;
}
.moto-container .links a{
    text-decoration: none;
    margin: 1em;
    color: whitesmoke;
}
.moto-container p{
    opacity: .5;
}