.exhibition-card {
  width: 265px;
  height: fit-content;
  border-radius: .4rem;
  margin-inline: 0.42rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primary-font-color);
  background-color: var(--primary-background-color);
  box-shadow:5px 5px 5px #7055034d,-5px -5px 5px #4949054d;
  margin-bottom: 1rem;
  transition: all 0.5s ease-out;
  border-radius: 20px;
  
}
.exhibition-card:hover{
  scale: 1.11;
  height: auto;
}

.exhibition-meta {
  margin-inline: 0.3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  
}
.exhibition-meta .lead{
  font-size: 1rem;
  font-weight: 100;
  opacity: 0.8;
}
 
 
.exhibition-image img,
.exhibition-image,
.exhibition-image .skeleton {
  height: 30vh;
  width: 250px;
  pointer-events: none;
  border-top-right-radius: .4rem;
  border-top-left-radius: .4rem;
  padding-bottom: 0.5px;
}

 

 

.exhibition-card .primary {
  background-color: var(--primary-background-color);
  color: var(--primary-font-color);
  font-weight: 850;
  box-shadow: 2px 2px 5px rgb(180, 175, 175), -2px -2px 5px rgb(60, 54, 54);
  border-radius: 2rem;
  width: 100%;
}

.exhibition-card .primary:hover {
  border: 5px solid #334455;
}
.join-btn {
  
  background: linear-gradient(45deg,#1734E8, var(--primary-site-color), rgba(0, 0, 0, 0.599)) ;
  transition: all 0.5s ease-out;
}
.exhibition-card button {
  align-items: center;
  width: 100%;
  font-size: 1.2rem;
}
.exhibition-card button:hover {
  background-color: var(--primary-background-color);
  color: var(--primary-font-color);
}
@media screen and (max-device-width: 576px) {
  .exhibition-card {
    max-width: 100%;
  }
}
