 
.home-exhibition-container {
  background: url("/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.exhibition-section {
  height: 89vh;
}
 
 header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery-section{
  transition: all 60s ease-in-out;
}
 

 

 
 
 
