 
 
.exhibition-section {
  height: 80vh;
  background: url('/images/home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
 
 header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery-section{
  transition: all 60s ease-in-out;
  padding-left: 10px;
}
 

 

 
 
 
