.switcher {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-exhibition-container {
  align-items: center;
}
.home {
  background: linear-gradient(
    rgb(2, 2, 16),
    rgb(54, 53, 53),
    rgb(2, 2, 16),
    rgb(26, 29, 31),
    rgb(119, 119, 121),
    rgb(30, 29, 29),
    rgb(2, 2, 16)
  );
}
.gallery-section {
  color: white;
  height: auto;
}

.gallery-section header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-main-container .exhibition-section header {
  color: black;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exhibition-section {
  height: 85vh;
  /* background: url(/public/zoltan-tasi-sJGvoX_eVhw-unsplash.jpg); */
}
.home-main-container .exhibition-section header h1 {
  font-size: 3.5em;
  font-weight: 400;
  line-break: strict;
  opacity: 0.6;
  line-break: anywhere;
}

.home-main-container header p {
  font-size: 1.4em;
}
.project-container {
  display: flex;
  flex-wrap: wrap;
  overflow: visible;
  justify-content: center;
  align-items: flex-start;
  height: 25%;
}

.primary-switch {
  background-color: rgb(9, 55, 9);
  color: white;
}

@media screen and (max-device-width: 576px) {
  .project-container {
    align-items: center;
    flex-direction: column;
  }
  .home-main-container .exhibition-section header h1 {
    font-size: 2.7em;
  }
}
