@font-face {
  font-family: roboto-itallic;
  src: url(/src/assets/fonts/Roboto-Thin.ttf);
}
.home-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  height: 20vh;
  background-color: #0a0b0c;
}

.home-navbar__logo img {
  padding-top: 1rem;
  color: rgb(173, 168, 21);
  z-index: 2;
}

@media screen and (max-device-width: 828px) {
  .home-navbar__logo h1 {
    font-size: 2.5rem;
  }
  .home-navbar__logo img {
    color: rgb(173, 168, 21);
    z-index: 1;
    width: 100%;
  }
  .home-navbar {
    display: grid;
    grid-template-columns: 60% 30%;
    gap: 5%;
    padding: 0;
    height: 20vh;
    background-color: #0a0b0c;
  }
}
