.dropdown-container {
  display: flex;
}
.nav-item-container {
  display: flex;
  justify-content: space-between;
}
.navbar {
  height: 15vh;
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  height: 15vh;
  background-color: #0a0b0c;
}
.mobile-nav {
  display: none;
}
.drop-down {
  margin: 5px;
}

.navbar__logo img {
  color: rgb(173, 168, 21);
  z-index: 2;
}
@media screen and (max-device-width: 676px) {
  .navbar-menu-btn {
    display: block;
  }
  .pc-navbar {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  .navbar__logo img {
    color: rgb(173, 168, 21);
    z-index: 2;
    width: 7cm;
  }
}
