.exhibitions-container {
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow-x: scroll;
}
.exhibitions-outer-container {
  height: auto;
}
.my-btn-group{
  display: flex;
  justify-content: space-evenly;
   
}
.exhibition-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#exhibition-status {
  border-radius: 1rem;
  margin-top: 0.5rem;
  box-shadow: 2px 2px 5px rgb(180, 175, 175), -2px -2px 5px rgb(60, 54, 54);
}
 
