.my-list-item:hover{
    background-color: var(--tertiary-background-color);
     
} 
.my-list-item{
    box-shadow:5px 5px 5px #7055034d,-5px -5px 5px #4949054d;
}
.list-view-container table{
    width: 100%;
}
.list-view-container table td{
    width: 50%;
    word-break: break-all;
}
 
.list-items-container{
    display: flex;
}
.list-view-container .list-items-container{
    font-size: 0.9em;
}
.list-view-container textarea{
    border: none;
    width: 100%;

}
 
.list-items-container{
    border-bottom: 1px solid  rgba(171, 216, 248, 1);
    padding-bottom: 1em;
    display: flex;
    
}
.list-view-description{
    display: flex;
    flex-direction: column;
    align-items: start;
}
 
.search-box-container {
    z-index: 1000;  
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1em;
  }
  .list-title{
    position: fixed;
    anchor-name: --list-title;
    position-anchor: --navbar;
    top: anchor(bottom);  
    width: inherit; 
    margin-right: 0px !important;
    z-index: 1000;  
    margin-top: 0.2em;
    background-color: var( --background-color) !important;
  }
  
@media screen and (max-device-width: 676px) {
    .list-items-container{
        display: flex;
        flex-direction: column;
    }
    .list-view-container table td{
        width: 100%;
        word-break: break-all;
    }
    

}


 
  