.home-page-section { 
  width: 100vw;  
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.801);
  text-align: center;
  z-index: 1000;
  font-weight: 900;
  
}
 
 
.home-page-section a{
  text-decoration: none;
}

.content {
  max-width: 900px;  
  background:var(--primary-font-color);  
  padding: 30px;  
  border-radius: 0px;
  z-index: 1200; 
}
 
.number{
  color:rgba(21, 75, 157, 0.8);
  font-size: var(--font-size-xlg);
  font-weight: 900;
}

.description {
  font-size: var(--font-size-xlg);
  

}
#hero-header{
  margin-block: 30px;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  background: linear-gradient(-45deg, var(--primary-site-color),rgba(21, 75, 157, 0.8), rgba(0, 0, 0, 0.599));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#learn-more-btn {
  display: inline-block;
  padding: 10px 20px;  
  font-size: var(--font-size-md);
  
  background:linear-gradient(45deg, var(--primary-site-color), rgba(0, 0, 0, 0.599));
  color: var(--background-color);
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

#learn-more-btn:hover {
  color: var(--primary-site-color);
  background-color: var(--background-color);
  

}
#more-content{
  display: inline;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .description {
    font-size: var(--font-size-md);
  }

  #learn-more-btn {
    font-size: var(--font-size-md);
    width: 100%;
  }

  .number{
    color: var(--primary-site-color);
    font-size: var(--font-size-lg);
    font-weight: 900;
  }
  #more-content{
    display: none;
  }
  .content {
    max-width: inherit;  
     
  }

  #hero-header{
 
    font-size: 24px;
   
  }
}
