.dashboard-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dashboard-exhibition-card,
.dashboard-gallery-card,
.dashboard-painter-card,
.dashboard-analytics-card {
  border: 2px solid rgba(171, 216, 248, 0.3);
  box-shadow: 5px 5px 5px rgba(171, 216, 248, 0.3), -5px -5px 5px rgba(171, 216, 248, 0.3);
  flex: 1;
  height: 40vh;
  margin: 2rem;
  width: 90%;
  font-weight: bold;
   
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1em;

  font-size: 1.5rem;
}
.dashboard-exhibition-card {
  background-color:rgba(171, 216, 248, 0.3)
}

.dashboard-gallery-card {
  background-color: rgb(186, 23, 23);
  color:rgba(30, 144, 255, .7);
}

.dashboard-painter-card {
  background-color: rgb(44, 38, 49);
  color: whitesmoke;
}
.dashboard-analytics-card {
  background-color: rgb(24, 65, 81);
  color: whitesmoke;
}

 