.footer {
  background-color: #334455;
  color: white;
  display: flex;
  justify-content: space-around;
}

.footer-container .back-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer div,
.social-medias div,
.links div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

.social-medias span {
  margin-left: 1em;
  margin-right: 1em;
}
.footer a {
  color: white;
}
@media screen and (max-device-width: 576px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
