.footer {
  background-color: #0a0b0c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: roboto-itallic;
}

.footer-container .back-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .footer div, */
.socials {
  display: flex;

  justify-content: space-around;
}
.footer span {
  padding: 1em;
}
.social-medias {
  display: flex;

  align-items: center;
}
.footer a {
  color: white;
}
@media screen and (max-device-width: 576px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .socials {
    flex-direction: column;
  }
}
