.galleries-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  
}
.gallery-shw{
  margin-right: 3%;
  margin-left: 3%;
}
.my-image-viewer .painting-description{
  background-color: white;
}
 
.useful {
  display: flex;
  flex-direction: column;
}

.inner-image-viewer{
  height: 100%;
 
  overflow-y:scroll
}
.my-image-viewer .painting-description{
  background-color: white;
  width: 310px;
  padding: 1em;
}
.my-image-viewer .painting-description .desc-data{
  border-bottom: 1px solid  rgba(171, 216, 248, 1);
  border-top: 1px solid  rgba(171, 216, 248, 1);
  justify-content: space-between;
  display: flex;
}
.my-image-viewer {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  position: fixed;
  
  top: 0%;
  z-index: 90;

  background-color: rgba(29, 29, 28, 0.9);
  padding: 2rem;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.my-image-viewer button{
  position: absolute;
  right: 1%;
  top: 0%;
}
 
@media screen and (max-device-width: 576px) {
  .galleries-container {
    display: flex;
    flex-direction: column;
  }
  .my-image-viewer div img {
    width: 310px;
    /* height: 250px; */
  }
  .my-image-viewer{
    flex-direction: column;
    gap: 2rem;
  }
  .gallery-shw{
    margin-right: 0px;
    margin-left: 0px;
  }
}
