 
.payment-registration-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
   
}

.uploading {
  background-color: "green";
  content: "";
}
.form-inputs-container {
  display: flex;
  margin-bottom: 1em;
}
.form-inputs-container label {
  flex: 2;
  font-weight: 450;
  line-height: 1.2;
  font-size: 1.2rem;
  color: black;
  margin-right: 1em;
}
.form-inputs-container input {
  flex: 4;
}

.payment-registration-form-container input,
select,
option {
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  /* font-family: roboto; */
}
.payment-registration-form-container h2 {
  line-height: 1.3;
  font-size: 2em;
  text-align: center;
}
.payment-registration-form-container h2 em {
  color: #334455;
}
.payment-registration-form-container button {
  align-items: center;
  width: 90%;
  
}
 .left-line, .right-line{
  height: 3px;
  width: 100%;
  margin: 5px;
  background-color: #ed9b1f;
  border-radius: 1px;
 }
 .horizontal-line{
  display: flex;
  align-items: center;
 }
 .social-login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }





.form-outer-container{
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  background-color: rgba(245, 233, 227, 0.6);
  height: 100%;
  overflow-y: scroll;
}
.form-inner-container{
  display: inline-flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: white;
  border-radius: 20px;
  box-shadow:5px 5px 5px #7055034d,-5px -5px 5px #4949054d;
   margin: 5%;
  padding: 2rem;
}













 
@media screen and (max-device-width: 676px) {
  .form-inner-container{
    flex-direction: column;
    padding: 1em;
    gap: 1em;
  }
  
  .form-inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }
 
 
  
}
