.profile-main {
  height: 100%;
  
  position: relative;
  z-index: 5;  
  margin-top: 35px;
  overflow-y: auto;
}
.profile-container {
  width: 100%;
}


.dashboard-container {
  display: flex;
  flex-direction: column;
}

.profile-container {
  margin-top: 70px;  
}

.profile-main {
  padding-top: 20px;  
  overflow-y: auto; 
}
